* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: gray;
    color: #FF5F00;
    text-align: center;
    padding: 2%;
}

h2 {
    margin-left: 150px;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
table thead {
    background-color: #76B900;
    color: white;
}
table th,
table td {
    border: 1px solid black;
    padding: 1%;

}

footer {
    background-color: #FF5F00;
    color: black;
    text-align: center;
    font-size: small;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav a {
    background-color: #0082D1;
    color:white;
    font-weight: bold;
    padding: 1%;
    border: 1px solid gray;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 7px;
}

nav a:hover {
    background-color: gray;
    color: #FF5F00;
}
